.container
  width: 320px
  margin: 0 auto

.header-top
  display: flex
  justify-content: space-between
  &__phone
    +gf

.hamburger-menu
  background-color: #fff
  border: none
  outline: none
  &__text
    display: none


.site-header
  min-height: 280px

.relax
  +cf
